    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>About us</h2>
                        <div class="bt-option">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- ChoseUs Section Begin -->
    <section class="choseus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Why choose us?</span>
                        <h2>PUSH YOUR LIMITS FORWARD</h2>
                    </div>
                </div>
            </div>
            <div class="row" id="why-choose-us-container">
                <!-- Why choose us items will be populated here -->
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->

    <!-- About US Section Begin -->
    <section class="aboutus-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="about-video set-bg" data-setbg="img/about-us.jpg">
                        <a href="https://www.youtube.com/watch?v=EzKkl64rRbM" class="play-btn video-popup"><i
                                class="fa fa-caret-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="about-text">
                        <div class="section-title">
                            <span>About Us</span>
                            <h2>What we have done</h2>
                        </div>
                        <div class="at-desc">
                            <p>In recent years, the fitness industry has experienced a profound transformation, witnessing a surge in innovative workout modalities, digital fitness platforms, and personalized training approaches.
                                 With an increasing focus on holistic well-being, fitness enthusiasts have embraced diverse activities ranging from high-intensity interval training (HIIT) to mindful practices like yoga and meditation. </p>
                        </div>
                        <div class="about-bar">
                            <div class="ab-item">
                                <p>Body building</p>
                                <div id="bar1" class="barfiller">
                                    <span class="fill" data-percentage="80"></span>
                                    <div class="tipWrap">
                                        <span class="tip"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="ab-item">
                                <p>Training</p>
                                <div id="bar2" class="barfiller">
                                    <span class="fill" data-percentage="85"></span>
                                    <div class="tipWrap">
                                        <span class="tip"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="ab-item">
                                <p>Fitness</p>
                                <div id="bar3" class="barfiller">
                                    <span class="fill" data-percentage="75"></span>
                                    <div class="tipWrap">
                                        <span class="tip"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About US Section End -->

    <!-- Team Section Begin -->
    <section class="team-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-title">
                        <div class="section-title">
                            <span>Our Team</span>
                            <h2>TRAIN WITH EXPERTS</h2>
                        </div>
                        <a href="./index.html#page7" class="primary-btn btn-normal appoinment-btn">Register</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ts-slider owl-carousel">
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="img/team/team-1.jpg">
                            <div class="ts_text">
                                <h4>Athart Rachel</h4>
                                <span>Gym Trainer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="img/team/team-2.jpg">
                            <div class="ts_text">
                                <h4>Athart Rachel</h4>
                                <span>Gym Trainer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="img/team/team-3.jpg">
                            <div class="ts_text">
                                <h4>Athart Rachel</h4>
                                <span>Gym Trainer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="img/team/team-4.jpg">
                            <div class="ts_text">
                                <h4>Athart Rachel</h4>
                                <span>Gym Trainer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="img/team/team-5.jpg">
                            <div class="ts_text">
                                <h4>Athart Rachel</h4>
                                <span>Gym Trainer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="img/team/team-6.jpg">
                            <div class="ts_text">
                                <h4>Athart Rachel</h4>
                                <span>Gym Trainer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Banner Section Begin -->
    <section class="banner-section set-bg" data-setbg="img/banner-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="bs-text">
                        <h2>registration now to get more deals</h2>
                        <div class="bt-tips">Where health, beauty and fitness meet.</div>
                        <a href="./page7.html" class="primary-btn  btn-normal">Registration</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section spad" id="testimonial-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Testimonial</span>
                        <h2>Our clients say</h2>
                    </div>
                </div>
            </div>
            <div class="ts_slider owl-carousel">
                <!-- Testimonials will be populated dynamically here -->
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>333 Middle Winchendon Rd, Rindge,<br/> NH 03461</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>125-711-811</li>
                            <li>125-668-886</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-envelope"></i>
                        <p>Support.gymcenter@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get In Touch Section End -->

    <!-- Footer Section Begin -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#"><img src="img/logo.png" alt=""></a>
                        </div>
                        <p>It is very important to take care of the patient, to follow the training process and enjoy.</p>
                        <div class="fa-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa  fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Useful links</h4>
                        <ul>
                            <li><a href="./index.html#page4">Contact</a></li>
                      <li><a href="./index.html#page6">Login</a></li>
                      <li><a href="./index.html#page7">Register</a></li>
                        </ul>
                    </div>
                </div>
                
                
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="../spapp/js/jquery-3.3.1.min.js"></script>
    <script src="../spapp/js/bootstrap.min.js"></script>
    <script src="../spapp/js/jquery.magnific-popup.min.js"></script>
    <script src="../spapp/js/masonry.pkgd.min.js"></script>
    <script src="../spapp/jquery.barfiller.js"></script>
    <script src="../spapp/jquery.slicknav.js"></script>
    <script src="../spapp/js/owl.carousel.min.js"></script>
    <script src="../spapp/js/main.js"></script>
    <script>
        $(document).ready(function () {
    
    $.get('http://localhost/Kerim123/gym-backend/training', function (response) {
        console.log(response); // Log the response to inspect it
        var chooseUsItems = response;
        if (Array.isArray(chooseUsItems)) {
            // Populate the "Why choose us?" items
            populateChooseUsItems(chooseUsItems);
        } else {
            console.error("Invalid response format:", chooseUsItems);
        }
    }).fail(function (xhr, status, error) {
        console.error("Error fetching data:", error);
    });
});

function populateChooseUsItems(chooseUsItems) {
    var container = $('#why-choose-us-container');
    container.empty();
    chooseUsItems.forEach(function (item) {
        var html = `
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    
                    <h4>${item.name}</h4>
                    <p>${item.comment}</p>
                </div>
            </div>`;
        container.append(html);
    });
}
    </script>

<script>
    $(document).ready(function () {
        // Fetch data for testimonial section from backend
        $.get('http://localhost/Kerim123/gym-backend/comment', function (response) {
            console.log(response); // Log the response to inspect it
            var comments = response;
            if (Array.isArray(comments)) {
                // Populate the testimonial section
                populateTestimonials(comments);
            } else {
                console.error("Invalid response format:", comments);
            }
        }).fail(function (xhr, status, error) {
            console.error("Error fetching data:", error);
        });
    });
    
    function populateTestimonials(comments) {
        var container = $('.ts_slider');
        container.empty();
        comments.forEach(function (comment) {
            var html = `
                <div class="ts_item">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="ti_text">
                                <p>${comment.comment}</p>
                                <h5>${comment.name}</h5>
                                <div class="tt-rating">
                                    ${generateStars(comment.rating)}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>`;
            container.append(html);
        });
    }
    
    function generateStars(rating) {
        var stars = '';
        for (var i = 0; i < rating; i++) {
            stars += '<i class="fa fa-star"></i>';
        }
        return stars;
    }
</script>


</body>

</html>