<section class="bg-light py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card border border-light-subtle rounded-3 shadow-sm">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <div class="text-center mb-3">
                            <!-- You can add an image or other content here -->
                        </div>
                        <h2 class="fs-6 fw-normal text-center text-secondary mb-4"></h2>
                        <form id="tutorial-form" method="post">
                            <div class="row gy-2 overflow-hidden">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name">
                                        <label for="firstName" class="form-label">First Name</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name" required>
                                        <label for="lastName" class="form-label">Last Name</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
                                        <label for="email" class="form-label">Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                                        <label for="password" class="form-label">Password</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid my-3">
                                        <button type="submit" class="btn btn-primary btn-lg">ADD MEMBER</button>
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                        <div class="mt-5">
                            <table id="tutorial-table" class="table table-stripped">
                                <thead>
                                    <th data-name="action">Actions</th>
                                    <th data-name="id">ID</th>
                                    <th data-name="firstName">First name</th>
                                    <th data-name="lastName">Last name</th>
                                    <th data-name="email">Email</th>
                                    <th data-name="password">Password</th>
                                </thead>
                                <!-- Table body content will be populated dynamically -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  
  <script src="../spapp/js/jquery.min.js"></script>
      <script src="../spapp/js/bootstrap.bundle.min.js"></script>
      <script src="../spapp/js/block-ui.js"></script>
      <script src="../spapp/js/jquery.validate.min.js"></script>
      <script src="../spapp/js/dataTables.js"></script>
      <script src="../spapp/js/dataTables.bootstrap5.js"></script>
      <script src="../spapp/js/utils.js"></script>
      <script src="../spapp/js/forms.js"></script>
      <script src="../spapp/js/rest_client.js"></script>
      <script>MemberService.reload_member_datatable()</script>
      
  </body>
  </html>