<section class="classes-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Classes</span>
                    <h2>WHAT WE CAN OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="../spapp/img/classes/class-1.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>STRENGTH</span>
                        <h5>Weightlifting</h5>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="../spapp/img/classes/class-2.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>Cardio</span>
                        <h5>Indoor cycling</h5>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="../spapp/img/classes/class-3.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>STRENGTH</span>
                        <h5>Kettlebell power</h5>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="../spapp/img/classes/class-4.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>Cardio</span>
                        <h4>Indoor cycling</h4>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="../spapp/img/classes/class-5.jpg" alt="">
                    </div>
                    <div class="ci-text">
                        <span>Training</span>
                        <h4>Boxing</h4>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- ChoseUs Section End -->
  
  <!-- Banner Section Begin -->
  <section class="banner-section set-bg" data-setbg="img/banner-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="bs-text">
                    <h2>registration now to get more deals</h2>
                    <div class="bt-tips">Where health, beauty and fitness meet.</div>
                    <a href="./index.html#page7" class="primary-btn  btn-normal">Registration</a>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- Banner Section End -->
  
  <!-- Pricing Section Begin -->
  <section class="pricing-section spad">
      <section class="pricing-section spad">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="section-title">
                          <span>Our Plan</span>
                          <h2>Choose your pricing plan</h2>
                      </div>
                  </div>
              </div>
              <div class="row justify-content-center" id="pricing-items-container">
                  <!-- Pricing items will be populated here -->
              </div>
          </div>
        </section>
  </section>
  <!-- Pricing Section End -->
  
  <!-- Gallery Section Begin -->
  <div class="gallery-section">
    <div class="gallery">
        <div class="grid-sizer"></div>
        <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery-1.jpg">
            <a href="../img/gallery/gallery-1.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="img/gallery/gallery-2.jpg">
            <a href="../img/gallery/gallery-2.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="img/gallery/gallery-3.jpg">
            <a href="../img/gallery/gallery-3.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="img/gallery/gallery-4.jpg">
            <a href="../img/gallery/gallery-4.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="img/gallery/gallery-5.jpg">
            <a href="../img/gallery/gallery-5.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item grid-wide set-bg" data-setbg="img/gallery/gallery-6.jpg">
            <a href="../img/gallery/gallery-6.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
        </div>
    </div>
  </div>
  <!-- Gallery Section End -->
  
  <!-- Team Section Begin -->
  <section class="team-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-title">
                    <div class="section-title">
                        <span>Our Team</span>
                        <h2>TRAIN WITH EXPERTS</h2>
                        <br>
                        <a href="./enroll.html" class="primary-btn  btn-normal">PICK A TRAINER</a>
                   
            </div>
        </div>
        <div class="row">
            <div class="ts-slider owl-carousel">
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="../spapp/img/team/team-1.jpg">
                        <div class="ts_text">
                            <h4>Athart Rachel</h4>
                            <span>Gym Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="../spapp/img/team/team-2.jpg">
                        <div class="ts_text">
                            <h4>John Mcgin</h4>
                            <span>Gym Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="../spapp/img/team/team-3.jpg">
                        <div class="ts_text">
                            <h4>Wayne Rooney</h4>
                            <span>Gym Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="../spapp/img/team/team-4.jpg">
                        <div class="ts_text">
                            <h4>Fabiano Ruiz</h4>
                            <span>Gym Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="../spapp/img/team/team-5.jpg">
                        <div class="ts_text">
                            <h4>Elizabeth Mcquenn</h4>
                            <span>Gym Trainer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                  <div class="ts-item set-bg" data-setbg="../spapp/img/team/team-6.jpg">
                        <div class="ts_text">
                            <h4>Lisa Welsch</h4>
                            <span>Gym Trainer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- Team Section End -->
  
  <!-- Get In Touch Section Begin -->
  <div class="gettouch-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-map-marker"></i>
                    <p>333 Middle Winchendon Rd, Rindge,<br/> NH 03461</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text">
                    <i class="fa fa-mobile"></i>
                    <ul>
                        <li>125-711-811</li>
                        <li>125-668-886</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="gt-text email">
                    <i class="fa fa-envelope"></i>
                    <p>Support.gymcenter@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Get In Touch Section End -->
  
  <!-- Footer Section Begin -->
  <section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="fs-about">
                    <div class="fa-logo">
                        <a href="#"><img src="../spapp/img/logo.png" alt=""></a>
                    </div>
                    <p>It is very important to take care of the patient, to follow the training process and enjoy.</p>
                    
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="fs-widget">
                    <h4>Useful links</h4>
                    <ul>
                        
                        <li><a href="./index.html#page4">Contact</a></li>
                        <li><a href="./index.html#page6">Login</a></li>
                        <li><a href="./index.html#page7">Register</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="fs-widget">
                    
                    <ul>
                        
                        
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="copyright-text">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- Footer Section End -->
  
  <!-- Search model Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
  </div>
  <!-- Search model end -->
  
  <!-- Js Plugins -->
  
  <!-- Js Plugins -->
  
  <!-- <script src="../spapp/js/jquery-3.3.1.min.js"></script> -->
  
  <script src="../spapp/js/bootstrap.min.js"></script>
  <script src="../spapp/js/jquery.magnific-popup.min.js"></script>
  <script src="../spapp/js/masonry.pkgd.min.js"></script>
  <script src="../spapp/js/jquery.barfiller.js"></script>
  <script src="../spapp/js/jquery.slicknav.js"></script>
  <script src="../spapp/js/owl.carousel.min.js"></script>
  <script src="../spapp/js/main.js"></script>
  <script src="../spapp/js/rest_client.js"></script>
  <script src="../spapp/js/utils.js"></script>
  
  
  <!-- <script src="../spapp/js/jquery.min.js"></script> -->
        
  
  
  <script>
     $(document).ready(function () {
    // Fetch data for testimonial section from backend
    RestClient.get('program')
        .then(function (pricingPlans) {
            console.log("Data fetched successfully:", pricingPlans);
            if (Array.isArray(pricingPlans)) {
                // Populate the pricing plan items
                populatePricingPlanItems(pricingPlans);
            } else {
                console.error("Invalid response format:", pricingPlans);
            }
        })
        .catch(function (error) {
            console.error("Error fetching data:", error);
        });
});

function populatePricingPlanItems(pricingPlans) {
    var container = $('#pricing-items-container');
    container.empty();
    pricingPlans.forEach(function(plan) {
        var html = `
            <div class="col-lg-4 col-md-8">
                <div class="ps-item">
                    <h3>${plan.name}</h3>
                    <div class="pi-price">
                        <h2>$ ${plan.price}</h2>
                        <span>SINGLE CLASS</span>
                    </div>
                    <ul>`;

        // Extract features from comment (if features are intended to be separate)
        var features = [];
        if (plan.comment) {
            features = plan.comment.split('\n').map(function(feature) {
                return feature.trim(); // Clean up extra spaces
            });
        }

        // Check if features exist and iterate
        if (features.length > 0) {
            features.forEach(function(feature) {
                html += `<li>${feature}</li>`;
            });
        } else {
            // Add default behavior if no features are available
        }

        html += `</ul>
            <a href="./enroll.html" class="primary-btn pricing-btn">Enroll now</a>
            <a href="./enroll.html" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                </div>
            </div>`;
        container.append(html);
    });
}
    </script>
  
  </body>
  
  
  
  
  </body>
  
  </html> 